.auth-container {
  padding: 18px;
}

.auth-info {
  display: none;
}

.auth-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .auth-container {
    padding: 40px 48px 182px 49px;
  }
}