.main-nav {
    padding-left: 18px;
    min-height: 70px;
}

.nav-logo-text :hover {
    color: none;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.nav-button-logout {
    width: 100px;
    height: 30px;
    background-color: #FFC700;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.nav-button-logout:hover {
  background-color: #000000; 
  color: #fff;
}
