.movie-details-container {
	padding: 12px;
}

.movie-details-title {
	color: #fff;
}

.movie-details-card-new-review {
	margin-top: 18px;
	padding: 20px 10px;
}

.movie-details-card-submit {
	margin-top: 17px;
}

.movie-details-card-reviews {
	margin-top: 18px;
	padding: 10px;
}

.movie-details-card-reviews__top {
	display: flex;
	align-items: baseline;
	padding: 17px 10px;
}

.movie-details-card-review__star {
	margin-right: 15px;
	margin-left: 5px;
}

.movie-details-card-review__person {
	font-weight: bold;
	color: #fff;
}

.movie-details-card-review__text {
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 10px 12px;

	font-size: 16px;
	letter-spacing: -0.015em;
	color: #9e9e9e;
}

@media (min-width: 576px) {
  .movie-details-container {
    padding: 40px 48px;
  }
}

@media (min-width: 768px) {
	.movie-details-container {
		padding: 20px 144px;
	}
}

@media (min-width: 992px) {
	.movie-details-container {
		padding: 40px 104px;
	}

  .movie-details-card-submit button{
    width: 230px;
    height: 50px;
  }

  .movie-details-card-new-review{
    padding: 24px 33px;
  }

  .movie-details-card-review__text { 
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .movie-details-container {
		padding: 36px 40px;
	}

  .movie-details-card-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie-details-card-submit button{
    width: 334px;
    height: 50px;
  }
}